.container {
  width: 230px;
  height: 300px;
  position: relative;
  margin: 20px
  border: 20px solid black;
  padding: 20px 20px 20px;
  background-color: pink;
}

input[type=button]: active {
  transform: translateY(4px);

}

input[type=text] {
  position: relative;
  display: block;
}

.button {
  background-color: black;
}
